@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-open-sans);
  color: #A1AED4
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-ubuntu);
}

.navbar:before{
  position: absolute;
    content: "";
    width: 1800px;
    height: 100%;
    top: 0px;
    right: 100%;
    background: rgb(7, 11, 40);
}

.navbar:after{
  position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 0px;
    bottom: 0px;
    border-bottom: 83px solid #070b28;
    border-right: 35px solid transparent;
}


.banner-right-png {
  right: -50px;
}

.feature-bg{
  background: url("/featuredgame-bg.jpg");
  background-position: center center;
  background-size: cover;
}
.bb-icon{
  border: 7px solid #f9314b;
    border-radius: 50%;
    text-align: center;
    
    line-height: 110px;
    -webkit-box-shadow: 0px 0px 0px 15px rgba(249, 49, 75, 0.2), 0px 0px 0px 15px rgba(249, 49, 75, 0.2);
    box-shadow: 0px 0px 0px 15px rgba(249, 49, 75, 0.2), 0px 0px 0px 15px rgba(249, 49, 75, 0.2);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.yellow-bor{
  border: 7px solid #f67a1f;
  webkit-box-shadow: 0px 0px 0px 15px rgba(246, 122, 31, 0.2), 0px 0px 0px 15px rgba(246, 122, 31, 0.2);
    box-shadow: 0px 0px 0px 15px rgba(246, 122, 31, 0.2), 0px 0px 0px 15px rgba(246, 122, 31, 0.2);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.purple-bor{
  border: 7px solid #bc2cdd;
  webkit-box-shadow: 0px 0px 0px 15px rgba(188, 44, 221, 0.2), 0px 0px 0px 15px rgba(188, 44, 221, 0.2);
    box-shadow: 0px 0px 0px 15px rgba(188, 44, 221, 0.2), 0px 0px 0px 15px rgba(188, 44, 221, 0.2);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.bb-icon::before{
  position: absolute;
    content: "";
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    border: 1px dashed rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    z-index: 1;
}

.bb-icon::after{
  position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid #1c2748;
    border-radius: 50%;
}

.feature{
  margin-top: -150px;
}



.banner{
  background: url("/banner-bg.webp") ;
  background-position: center center;
  background-size: cover;
  
}

.shape1{
  z-index: -5;
animation: updown 5s linear infinite;
}
.shape2{
  z-index: -5;
animation: updown 5s linear 1.5s infinite;
}
.shape3{
  z-index: -5;
animation: updown 5s linear 3s infinite;
}

.banner-overlay{
 
    background: linear-gradient(180deg, rgba(4, 42, 45, 0) 65.37%, #0f143a 100.18%), linear-gradient(270deg, rgba(4, 42, 45, 0) 39.75%, #0f143a 100%);
    width: 100%;
    height: 100%;
    z-index: 9;
}
.flex{
  display: flex !important;
}

.tournament-btn{
  margin-bottom: -55px;
}

.counter{
  background: url("/counter-bg.jpg");
  background-size: cover;
  background-position: center center;
}

.counter-overlay{
  background: linear-gradient(0deg, rgba(4, 42, 45, 0) 15.37%, #070B28 100.18%), linear-gradient(180deg, rgba(4, 42, 45, 0) 39.75%, #070B28 100%);
}
.subscribe{
  margin-top: -220px;
  background: url("/newsletter.jpg");
  background-size: cover;
  background-position: center center;
}

.footer{
  background: url('/footerbg.jpg');
  background-size: cover;
  background-position: top center;
}

.socialSec:hover .socialIcon{
  color: white;

}

.tour-banner{
  background: url("/tournamentbanner.webp");
  background-position:  center center;
  background-size: cover;
}

.contact-box{
  webkit-box-shadow: 0px 0px 0px 10px rgba(25, 37, 77, 0.2), 0px 0px 0px 20px rgba(25, 37, 77, 0.2), 0px 0px 0px 30px rgba(25, 37, 77, 0.2); 
     box-shadow: 0px 0px 0px 10px rgba(25, 37, 77, 0.2), 0px 0px 0px 20px rgba(25, 37, 77, 0.2), 0px 0px 0px 30px rgba(25, 37, 77, 0.2);
}

.scale{
  animation: scale 3.2s linear infinite;
}


.purple-bor{
  font-size: 22px ;
  font-weight: 23px;
  scroll-behavior: smooth;
}

.img{
  background-image: ('/BGMI.jpg');
  object-fit: cover;
  background-position: center;
}


/* --------------- Flip Counter Css Start ----------------- */
/* FlipTimeCounter.css */
.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 80px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.flipping .flip-card-inner {
  transform: rotateX(-180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  background: #1e293b;  color: #ffffff;
  border-radius: 8px;
  border: 2px solid #2563eb; 
}

.flip-card-back {
  transform: rotateX(180deg);
}

.statusbar{
  transform: rotate(320deg);
}
.tournament-box:hover .tourImg{
  border-bottom: 15px solid #E11D48;
}

.z-40{
  z-index: 40 !important;
}

.welcome-popup{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-cross{
  right: -14px;
  top: -14px;
  height: 44px;
  width: 44px;
}

.welcome-btn{
   margin-bottom: -55px;
}

.blury{
  backdrop-filter: blur(10px);
}

/* --------------- Flip Counter Css End ----------------- */


@keyframes scale {
  0%{
    transform: scale(1);
   
  }
  50%{
    transform: scale(1.16);
  
  }
  100%{
    transform: scale(1);
   
  }
}